@mixin card($radius: 0.25rem) {
  background-color: $white;
  border-radius: $radius;
  padding: 1.5rem;
  height: 100%;
  word-break: break-all;
  display: flex;
  flex-direction: column;
}

.card {
  &-default {
    @include card();
  }
  &-edge {
    &-rounded {
      @include card(0.5rem);
    }
    &-pointed {
      @include card(unset);
    }
  }
}

.card {
  &-featured {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 35%;
      left: 0;
      background: #17161669;
      bottom: 0;
      z-index: 999;
      transition: all 0.5s;
      transform: translateY(100%);
    }

    &:hover::before {
      transform: translate(0);
    }
    position: relative;
    overflow: hidden;
    .gradient-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url("/assets/image/gradient.png") bottom repeat-x;
    }

    .tag-overlay {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .title-overlay {
      z-index: 999;
      position: absolute;
      bottom: 30px;
      left: 20px;
      right: 20px;
    }

    img {
      transition: 0.4s all ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &-deals {
    position: relative;
    margin: 0 30px;
    overflow: visible;
    &::before {
      position: absolute;
      height: 97%;
      width: 50%;
      content: "";
      background: #fff;
      top: 15px;
      left: 5px;
      z-index: -1;
      transform: rotate(-6deg);
    }

    &::after {
      position: absolute;
      height: 50%;
      width: 90%;
      content: "";
      background: #fff;
      top: 0;
      right: 0;
      z-index: -1;
      transform: rotate(5deg);
    }
  }

  &-service {
    position: relative;
    background: $white;
    &:before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(3deg, #60efff 33%, #0061ff 100%);
      transform: translate3d(3px, 3px, 0) scale(0.92);
      filter: blur(13px);
      opacity: var(0.27);
      transition: opacity 0.3s;
      border-radius: inherit;
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      border-radius: inherit;
    }
    &-pattern {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 262px;
      height: 175px;
      border-radius: 8px;
      background-image: url("/assets/image/service-pattern.png");
      background-repeat: no-repeat;
    }
  }
  &-testimonial {
    position: relative;
    &-desc {
      line-height: 150%;
    }
    .quotation {
      position: absolute;
      opacity: 0.1;
      bottom: 20px;
      right: 128px;
    }
  }
  &-team {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      right: 60px;
      top: 55px;
      left: 0px;
      bottom: 0px;
      border-radius: 12px;
      background-color: #fff;
      box-shadow: 0px 0px 12px 4px rgba(61, 61, 61, 0.08);
      -webkit-transition: all 600ms ease;
      transition: all 600ms ease;
    }
    &::after {
      position: absolute;
      content: "";
      top: 55px;
      left: 0px;
      bottom: 0px;
      width: 0%;
      border-radius: 12px;
      -webkit-transition: all 600ms ease;
      transition: all 600ms ease;
      background: #005294;
      background: -webkit-linear-gradient(to right, #005294 0%, #306c9e 100%);
      background: linear-gradient(to right, #005294 0%, #306c9e 100%);
    }

    &:hover {
      &::after {
        width: 90%;
      }

      h5,
      p,
      .position {
        color: #fff !important;
      }
    }

    .social {
      position: absolute;
      left: 25px;
      top: 80px;
      z-index: 1;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #fff;
      }
    }

    &-content {
      h5,
      .position {
        position: relative;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
      }
    }
  }
  &-blog {
    &:hover {
      img {
        transform: translate3d(3%, 0, 0) scale(1.08);
      }
    }
    img {
      transition: transform 1s cubic-bezier(0.25, 0.04, 0, 0.93);
      transform: translate3d(0, 0, 0) scale(1.08);
    }
    &-content {
      position: relative;
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      border: 1px solid #ebebeb;
      box-sizing: border-box;
      background: #fff;
      padding: 38px 32px 21px;

      .bcat {
        position: absolute;
        top: -15px;
        left: -1px;
        padding: 5px 10px;
        background-color: $cool-gray-100;
        color: $cool-gray-800;
      }
    }
  }

  &-combo {
    overflow: hidden;
    .img-wide {
      position: relative;
    }
    .gradient-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url("/assets/image/gradient.png") bottom repeat-x;
    }
    .tag {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .next {
      position: absolute;
      right: 20px;
      bottom: 20px;
      z-index: 1;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      svg {
        font-size: 1rem;
      }
    }
    a{
      z-index: 5;
    }
    &-content {
      z-index: 999;
      position: absolute;
      bottom: 20px;
      left: 20px;
      max-width: 280px;
      color: #ffffffd2;
    }
  }
  &-packages {
    .img-portrait {
      position: relative;
      img {
        -webkit-transform: scale(1) translateZ(0);
        transform: scale(1) translateZ(0);
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }

    &-content {
      background: #fff;
      position: absolute;
      bottom: 0;
      width: calc(100% + 4px);
      padding: 15px 20px;
      transform: translate3d(0px, 85px, 0px);
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      .price {
        white-space: nowrap;
      }

      @media (min-width: 992px) and (max-width: 1600px) {
        transform: translate3d(0px, 86px, 0px);
      }
      @media (min-width: 420px) and (max-width: 991px) {
        transform: translate3d(0px, 55px, 0px);
      }
    }

    .combo {
      position: absolute;
      top: 0;
      left: 20px;
      -webkit-transform: rotate(270deg) translateX(-100%);
      -ms-transform: rotate(270deg) translateX(-100%);
      transform: rotate(270deg) translateX(-100%);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      background-color: white;
      padding: 6px 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    &:hover {
      .img-portrait {
        img {
          transform: scale(1.02);
        }
      }
      .card-packages-content {
        transform: translate3d(0px, 0px, 0px);
      }
    }
  }

  &-destination {
    .img-portrait-03 {
      position: relative;
      img {
        transition: all 0.4s;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.2;
      }
    }

    &:hover {
      .img-portrait-03 {
        img {
          transform: scale(1.1);
        }
      }
    }

    .content {
      width: 100%;
      position: absolute;
      bottom: 20px;
      top: auto;
      transform: translate(-50%, 0);
      left: 50%;
      z-index: 1;
      text-align: center;
      width: 100%;
      h6 {
        text-transform: uppercase;
      }
    }
  }

  &-single {
    .row > * {
      padding-right: 0;
      padding-left: 0;
    }

    .info {
      padding: 12px 20px 12px 20px;
      background-color: var(--e-global-color-a29ea9b);
      border-radius: 25px 25px 25px 25px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      &-item {
        padding: 0 8px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        svg {
          color: $primary;
          font-size: 18px;
        }
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          right: 0;
          background: $primary;
        }
      }

      &-item:nth-child(3) {
        &::after {
          content: none;
        }
      }
    }
  }
}
