.footer {
    &-top {
      box-shadow: 0 1px 4px 0 rgba(5, 29, 49, 0.2);
      ul > li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        //   max-width: 50%;
      }
      ul li {
        padding: 3px 0;
      }
      .nav-links {
        flex: 0 0 50%;
        font-size: 1.125rem;
      }
    }
  }
  