// .landing {
//   overflow: visible;
//   .find-form {
//     width: 850px;
//     @media (max-width: 850px) {
//       width: 100%;
//     }
//   }
// }
.landing {
  position: relative;
  width: 100%;
  padding: 370px 0 280px 0;

  @media (max-width: 767px) {
    padding: 160px 0 155px 0;
  }
  @media (max-width: 992px) {
    padding: 275px 0 280px 0;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    // opacity: 0.5;
    background-image: url("/assets/image/banner.jpg");
    // background-color: #000;
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("/assets/image/gradient.png") bottom repeat-x;
  }
}

.search {
  &-form {
    .island {
      position: absolute;
      top: 24px;
      right: 32px;
    }
  }
}

.destinations {
  h3 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 120px;
      height: 1px;
      background-color: $primary;
      bottom: -5px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .img-portrait {
    position: relative;
    max-width: 100%;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transition: 0.4s all ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
    .overlay {
      z-index: 99;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%);
      span {
        display: block;
      }
      .h1 {
        font-size: 9rem;
        line-height: 100%;
      }
      .h2 {
        font-size: 2.5rem;
      }
    }
    img {
      transition: 0.4s all ease-in-out;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 4.6vw);
    gap: 18px;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
  }

  .gallery__item:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
  }

  .gallery__item:nth-child(4) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 1 / span 1;
    grid-row: 5 / span 3;
  }

  .gallery__item:nth-child(6) {
    grid-column: 2 / span 1;
    grid-row: 4 / span 2;
  }
  .gallery__item:nth-child(7) {
    grid-column: 2 / span 1;
    grid-row: 6 / span 2;
  }
  .gallery__item:nth-child(8) {
    grid-column: 3 / span 1;
    grid-row: 3 / span 3;
  }
  .gallery__item:nth-child(9) {
    grid-column: 3 / span 1;
    grid-row: 6 / span 2;
  }

  .gallery__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
  }

  .gallery__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    opacity: 1;
    pointer-events: none;
    transition: opacity 0.2s;
  }

  .gallery__link:hover .gallery__overlay {
    opacity: 1;
  }

  .gallery__overlay span {
    position: relative;
    line-height: 3rem;
  }

  .gallery__overlay span:before,
  .gallery__overlay span:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width 0.3s ease-out 0.2s;
  }

  .gallery__overlay span:before {
    top: 0;
    left: 0;
  }

  .gallery__overlay span:after {
    bottom: 0;
    right: 0;
  }

  .gallery__link:hover .gallery__overlay span:before,
  .gallery__link:hover .gallery__overlay span:after {
    width: 100%;
  }

  /* Gallery Image */
  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    transition: transform 0.5s, filter 0.5s;
  }

  .gallery__link:hover .gallery__image {
    transform: scale(1.2);
    filter: blur(2px);
  }

  @media screen and (max-width: 60rem) {
    .wrapper {
      padding: 1rem;
    }

    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }

    .gallery__item:nth-child(1) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    .gallery__item:nth-child(2) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }

    .gallery__item:nth-child(3) {
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
    }

    .gallery__item:nth-child(4) {
      grid-column: 1 / span 1;
      grid-row: 3 / span 2;
    }

    .gallery__item:nth-child(5) {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }

    .gallery__item:nth-child(6) {
      grid-column: 2 / span 1;
      grid-row: 4 / span 1;
    }
    .gallery__item:nth-child(7) {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
    }
    .gallery__item:nth-child(8) {
      grid-column: 3 / span 1;
      grid-row: 2 / span 2;
    }

    .gallery__overlay {
      font-size: 1.25rem;
    }
  }

  @media screen and (max-width: 35rem) {
    .gallery {
      display: block;
    }

    .gallery__item {
      margin: 0.5rem;
    }

    .gallery__link {
      height: 80vw;
    }

    .gallery__overlay {
      font-size: 1rem;
    }
  }
}

.combo {
  h3 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 120px;
      height: 1px;
      background-color: $primary;
      bottom: -5px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-slider {
    .swiper-wrapper {
      margin-bottom: 40px;
    }
  }
}

.deals {
  background-image: url("/assets/image/deals.png");
  // background-color: #000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  h3 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 120px;
      height: 1px;
      background-color: $white;
      bottom: -5px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-slider {
    position: relative;
    .swiper-wrapper {
      padding: 50px 0;
      margin-bottom: 30px;
    }
    .swiper-pagination-bullet-active {
      background: $white !important;
    }
    .swiper-pagination-bullet {
      background: #ffffffd5;
    }

    .next {
      position: absolute;
      background: $primary;
      border: 4px solid $white;
      right: 5px;
      bottom: 45%;
      z-index: 99;
      padding: 8px;
      border-radius: 50%;
    }
    .prev {
      position: absolute;
      background: $primary;
      border: 4px solid $white;
      left: 5px;
      bottom: 45%;
      z-index: 99;
      padding: 8px;
      border-radius: 50%;
    }

    svg {
      font-size: 1.5rem;
      color: $white;
    }
  }
}
.service {
  &-title {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-image: url("/assets/image/service.png");

      // background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
    }
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-right: 25px solid $white;
      right: 0;
    }
  }
}
